__pycache__
.DS_Store
.env
.env.test

# logs and run directory on production
/logs/
/run/
infrastructure/
nginx/
prd/
.vercel

venv/
.venv/

.claude/
docker-compose.override.yaml
docker-compose.override.yaml.README.md
